*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}
body {
  max-width: 800px;
  margin: 0 auto;
  background-color: #000;
  min-height: 100vh;
  padding: 1em;
}

footer {
  font-size: 0.7em;
  margin-top: 4em;
}

a {
  color: #349;
}

h1 {
  font-size: 1.2em;
  color: #888;
}

input[type='number'] {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  border-color: #444;
  width: 4em;
}

#chords {
  margin: 1em 0;
}

#chords ul {
  display: inline;
  display: contents;
  padding: 0;
  margin: 0 0;
  list-style: none;
  font-family: monospace;
  font-size: 1.2em;
}

#chords ul li {
  display: inline;
  display: content;
}

#chords ul li button {
  width: 3em;
  text-align: center;
  border-radius: 0.2em;
  padding: 0.2em 0.4em;
  margin: 0.2em;
}

#🎲 {
  background: none;
  border: none;
  font-size: 1.8em;
  padding: 0;
  vertical-align: middle;
  cursor: pointer;
}

button {
  border: none;
  background: #444;
  color: #fff;
  border-radius: 0.2em;
  padding: 0.4em 0.8em;
  margin: 0.2em;
}
